:root {
    --bloody-red: rgb(202, 10, 67);
    --bloody-red-trans: rgb(202, 10, 67, 0.4);
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(32, 42, 36);
    color: var(--bloody-red);
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: relative;
}

#topSec {
    display: flex;
}

h1 {
    font-weight: 100;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 100px;
}

#formDeNomes {
    margin-top: 24px;
}

li {
    font-size: 16px;
}

form {
    width: 40%;
}
fieldset {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 10px;
}

input[type="number"] {
    width: 60px;
    align-self: center;
    margin: 10px;
}

input[type="text"] {
    align-self: center;
    margin: 10px;
}

aside {
    float: left;
    background-color: rgb(0, 0, 0, 0.2);
    margin-left: 10px;
    width: 18%;
    display: flex;
    flex-direction: column;
}

summary {
    color: dimgray;
    margin-left: 10px;
}

div {
    margin: 8px;
}

#dialogPlace {
    width: 70%;
}

#dialog {
    background-color: rgba(46, 46, 46, 0.7);
    color: rgb(223, 223, 223);
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
#dialog > p {
    margin: 12px;
    font-size: 24px;
    font-weight: 200;
}

#boardSpace {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.itsAliberal {
    background-image: url('images/role_Liberal.png');
    background-size: cover;
    width: 216px;
    height: 303px;
}
.itsAfascist {
    background-image: url('images/role_Fascist.png');
    background-size: cover;
    width: 216px;
    height: 303px;
}
.itsAhitler {
    background-image: url('images/role_Hitler.png');
    background-size: cover;
    width: 216px;
    height: 303px;
}

#itsApresident {
    box-shadow: 0 0 20px white, 0 0 24px white;
}

#itsAchanceler {
    box-shadow: 0 0 20px rgb(250, 246, 0), 0 0 24px rgb(250, 246, 0);
}

.lawCards {
    margin-top: 20px;
}

#fascistBoard1 {
    width: 1144px;
    height: 367px;
    background-image: url(./images/Board_Fascist_5-6.png);
    background-size: cover;
}

#fascistBoard2 {
    width: 1144px;
    height: 366px;
    background-image: url(./images/Board_Fascist_7-8.png);
    background-size: cover;
}

#fascistBoard3 {
    width: 1144px;
    height: 364px;
    background-image: url(./images/Board_Fascist_9-10.png);
    background-size: cover;
}

#fascistBoard1, #fascistBoard2, #fascistBoard3 {
    display: flex;
    align-items: center;
}

#liberalBoard {
    width: 1144px;
    height: 364px;
    background-image: url(./images/Board_Liberal.png);
    background-size: cover;
    display: flex;
    align-items: center;
}

#showCardsArea {
    width: 100%;
    min-height: 316px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    position: absolute;
    border-radius: 16px;
    box-shadow: 0 0 64px black, 0 0 96px black;
}

.liberalLaw {
    width: 192px;
    height: 276px;
    background-image: url(./images/Policy_Liberal.png);
    background-size: cover;
}
.liberalLaw:hover {
    box-shadow: 0 0 20px var(--bloody-red), 0 0 24px var(--bloody-red);
}

.fascistLaw {
    width: 192px;
    height: 276px;
    background-image: url(./images/Policy_Fascist.png);
    background-size: cover;
}
.fascistLaw:hover {
    box-shadow: 0 0 20px var(--bloody-red), 0 0 24px var(--bloody-red);
}

strong {
    color: var(--bloody-red);
    font-weight: 300;
}

.markLiberal {
    width: 172px;
    height: 232px;
    background-color: rgba(62, 120, 175, 0.6);
    margin: 0;
    
}
.markFascistV1 {
    width: 166px;
    height: 232px;
    background-color: var(--bloody-red-trans);
    margin: 0;
}

#liberalMarkable {
    /* background-color: rgba(255, 255, 255, 0.6); */
    width: 852px;
    height: 240px;
    margin-left: 140px;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

#fascistMarkableV1 {
    /* background-color: rgba(255, 255, 255, 0.6); */
    width: 1020px;
    height: 240px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    padding-left: 9px;
}